.imgStyle{
     width: 66px;
     height: 66px;
     border-radius: 50%;
}

@keyframes gradientAnimation {
     0% {
       background-position: 0%;
     }
     100% {
       background-position: 100%;
     }
   }
   
   .gradient-text {
     background-image: linear-gradient(to right, #38b2ac, #9f7aea, #38b2ac);
     background-clip: text;
     -webkit-background-clip: text;
     color: transparent;
     animation: gradientAnimation 3s linear infinite;
     font-weight: 900;
   }
